body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
.animation{
    position: absolute;
    top: 100px;
    left: 50%;
}
.animation-size{
    width: 400px;
    height: 400px;
}
.bgimage-cont{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url("fabrice-thys-4cGJx5u2Z04-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

}
.second-part{
    margin-left:100px ;
}
.front-page{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
  
}
.image{
    display: flex;
    position: relative;
    margin: 20px 0px;
    
}
img{
    width: 80px;
    height: 80px;
}   

.url-links{
    margin: 0px 10px;
    flex:1;
}
.url-links ul {
    display: inline;
    margin: 50px;
}

.url-links ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.url-links ul li a:hover{
 
    transition: 2000ms;
}
.url-links ul li{
    text-align: center;
    list-style: none;
    margin: 40px 20px;
    display: inline-block;
    width: 70px;
}
.url-links ul li::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: rgb(255, 238, 0);
    display: block;
    position: relative;
}

.url-links ul li:hover::after{
    content: '';
    width: 70px;
    height: 2px;
    background-color: aqua;
    display: block;
    position: relative;
    transition: 0.5s;
}
.title{
    font-size: 35px;
    line-height: 60px;
    font-weight: bolder;
    width: 400px;
    color: white;
    text-align: left;
    word-spacing: 10px;
    padding: 30px;
    position: relative;
    font-family: 'Bree Serif', serif;}
.signup{
    background-color: yellow;
    outline: none;
    position: relative;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    padding: 6px;
    border: 2px solid black;
    float: right;
    margin: 30px;
    cursor: pointer;
    display: block;
}
.explore-btn{
    background-color: yellow;
    outline: none;
    position: relative;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    padding: 6px;
    border: 2px solid black;
    margin: 30px;
    cursor: pointer;
}
.icons{
    top: 0px;
    position: absolute;
    height: 98%;
    width:60px ;
    background-color: black;
}
.search-icons{
    top: 0px;
    height: 60%; 
    text-align: center;
}
.search-icons .fas{
    color: white;
    display: flex;
   font-size: 30px;
    margin: 15px 17px;
    cursor: pointer;
}
.social-media{
    position: relative;
    background-color: yellow;
    height: 40%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
}
.social-media .fab{
    margin: 13px 17px;
   
    border-radius: 50%;
    padding: 6px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
.side-navbar{
    top: 0px;
    right: 0px;
    width: 300px;
    background-color: black;
    position: absolute;
    height: 100%;
    display: none;
}
.menu-bar .fa-bars{
    color: white;
    font-size: 40px;
    margin: 20px 20px;
    cursor: pointer;
    display: none;
    float: right;
    position: sticky;
    top: 0px;
}
.input-fields{
    display: flex;
    flex-direction: column;
    position:absolute;
    margin-left: 100px;
    background:linear-gradient(0deg,rgb(14, 14, 13),rgba(33, 34, 21, 0.322));
    width: 400px;
    height: 250px;
    padding: 40px 20px;
    box-sizing: border-box;
    border-radius: 40px;
    backdrop-filter: blur(3px);
    
}
.cross{
    position: absolute;
    top: 10%;
    left: 90%;
    color: white;
    float: right;
    font-size: 30px;
}
.next-part{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.center-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.cross .fa-times{
    cursor: pointer;
}
.input-fields div{
    margin: 10px;
}
.input-fields label{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.input-fields input{
    border: 2px solid black;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    padding: 6px;
}
.container-fluid{
    margin: 0px;
    padding: 0px;
}
.btn-register{
    background-color: yellow;
    outline: none;
    position: relative;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    padding: 6px;
    border: 2px solid black;
  
    margin:20px 50px;
    cursor: pointer;
}

.food-section div{
    text-align: center;
}
/* .col-xl-2{
    background-color: rgb(245, 242, 242);
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgb(218, 211, 211);
} */

.col-xl-3 img{
    width: 100%;
   height: 100px;

}
.container-fluid .col-xl-3:hover{
    background-color: aqua;
    cursor: pointer;
    transform: scale(1.2);
    
}
.col-xl-3 h3{
background-color: yellow;
width:100%;
padding: 6px;
margin: 6px 0px;
font-weight: bold;
}
.jumbotron .quotes{
    font-family: 'Newsreader', serif;
    line-height: 30px;
}
.jumbotron .jumbo{
    line-height: 30px;
}
.food-section{
    height: 100vh;
    width: 100vw;
}
.food-section .background{
    margin-top: 100px;
    padding: 100px 0px;
    
}
.ratings{
    background-color: green;
    color: white;
    padding: 6px;
    width: 40px;
}
.order-ratings{
    display: flex;
    justify-content: space-between;
}
.order-ratings .order{
    text-align: center;
    background-color: rgb(22, 68, 68);
    padding: 6px;
    color: white;
}
.features{
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./images/img6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.features .col-lg-4{
    height: 350px;
    text-align:center;
    padding-top: 100px;
}
.features p{
    font-size: 18px;
    color: white;
}
.features h1{
    color: white;
}
.features .fas{
    font-size: 50px;
    color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.features-animation {
    position: relative;
    display: flex;
    justify-content: center;
   
}

.item img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:0px auto;
    margin-bottom: 100px;
    margin-top: 50px;

}
.item .carousel-caption{
    margin-bottom: -100px;
    
}
.carousel-caption p{
    font-size: 15px;
}
.footer{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-links i{
    margin: 10px;
    font-size: 18px;
    color: white;
}
.dev-details h3{
    background-color: rgb(225, 0, 255);
    font-weight: bolder;
    border-radius: 30px;
    padding: 10px;
}
.dev-details{
    font-size: 18px;
    text-align: center;
   
}
@media (max-width:1200px){
    .food-section{
        margin-bottom: 400px;
    }
  
   
}
@media(max-width:578px){
    .features{
        margin-top: 1800px;
        height: 100vh;
        padding: 0px;
    }
    .features .col-lg-4{
        height: 200px;
        margin: 15px 0px;
        }
}
@media(max-width:768px){
    .features {
        margin-bottom: 0px;
    }
    .features .col-lg-4{
        padding: 0px;
    }
}
@media(max-width:810px){
    .food-section{
        margin-bottom: 400px;
    }
}
@media (max-width:500px){
    .animation{
        position: relative;
        top: 0px;
        left: 0px;
        margin-left: 30px;
    }
    .animation-size{
        width: 300px;
        height: 300px;
    }
}
@media (max-width:900px){
    
    .title{
        font-size: 30px;
    }
    .front-page{
        margin: 0px 50px;
    }
    .second-part{
        margin: 0px 30px;
    }
    .icons{
        display: none;
    }
    .url-links{
        display: none;
    }
    .side-navbar{
        display: block;
        right: -300px;
        transition: 0.5s;
    }
    .signup{
        display: none;
    }
    .side-navbar ul li{
        margin: 30px 10px;
        color: white;
        font-size: 18px;
        list-style-type: none;
    }
    .menu-bar .fa-bars{
        display: block;
        float: right;
        right: 10px;
        position: absolute;
    }
    .side-navbar ul li a{
        text-decoration: none;
        color: white;
    }
    .fa-times{
        cursor: pointer;
    }
    
    .btn1{
        background-color: yellow;
        outline: none;
        position: relative;
        border-radius: 10px;
        color: black;
        font-weight: bolder;
        padding: 6px;
        border: 2px solid black;
      
        margin:20px 50px;
        cursor: pointer;
    }
    .btn-register{
        background-color: yellow;
        outline: none;
        position: relative;
        border-radius: 10px;
        color: black;
        font-weight: bolder;
        padding: 6px;
        border: 2px solid black;
      
        margin:20px 50px;
        cursor: pointer;
    }
    .input-fields{
        left: 0px;
        top: 0px;
        position: relative;
        margin-left:30px ;
    }
}
